.recommendation-module {
    border-left: 1px solid #ddd;
    padding:  0 10px;

}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 6px;
}

.carousel-item {
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}

.carousel-img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 4px;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.guess-you-like {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.guess-item {
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

.guess-img-wrapper {
    overflow: hidden;
    position: relative;
}

.guess-img {
    width: 100%;
    height: 150px;
}

.guess-title {
    color: #333;
}